extends ../layouts/layout
block content
    h1.add_users_color Users/Add
        br
        br
        form(method="post") 
            
            input#firstname.feedback-input( name="firstName",
                type="text", 
                placeholder="FirstName",
            )
            br
            
            input#lastname.feedback-input( name="lastName", 
                type="text", 
                placeholder="LastName", 
            )
            br
            
            input#email.feedback-input( name="email",
                type="email", 
                placeholder="Email", 
            )
            br
            
            input#password.feedback-input( name="password",
                type="password", 
                placeholder="Password", 
            )
            br
            label(for="DepartementId") Departement
            select#DepartementId(name="DepartementId")
                for departement in departements 
                    option(value=`${departement.id}`) #{departement.name}
            .form-actions 
                input.btn(type="button", value="Cancel", onclick="history.back()")
                input.btn(type="submit", value="Save")
