extends ../layouts/layout
block content
    h1 Users/edit
    if !user
        h2 There is no user with this id
    else 
        form.edit-form(method="post") 
            label(for="firstname") FirstName
            input#firstname( name="firstName",
                type="text", 
                placeholder="FirstName", 
                value=`${user.firstName}`
            )
            br
            label(for="lastname") LastName
            input#lastname( name="lastName", 
                type="text", 
                placeholder="LastName", 
                value=`${user.lastName}`
            )
            br
            label(for="email") Email
            input#email( name="email",
                type="email", 
                placeholder="Email", 
                value=`${user.email}`
            )
            br
            label(for="password") Password
            input#password( name="password",
                type="password", 
                placeholder="Password", 
                value=`${user.password}`
            )
            br
            label(for="DepartementId") Departement
            select#DepartementId(name="DepartementId")
                for departement in departements 
                    option(value=`${departement.id}`, selected=(user.DepartementId == departement.id)) #{departement.name}
            .form-actions 
                input(type="button", value="Cancel", onclick="history.back()")
                input(type="submit", value="Save")
